body {
  background-color: lightblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2.5em;
  color: firebrick;
  text-align: center;
}

h2 {
  text-align: center;
  font: sans-serif;
}

.container {
  height: 50vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label,
input[type="submit"] {
  margin-top: 20px;
}